body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #bf7cc6;

    background-image: url(https://media.istockphoto.com/id/1478776181/es/v%C3%ADdeo/signos-de-interrogaci%C3%B3n-de-ne%C3%B3n-rosa-volador-sobre-un-fondo-negro-animaci%C3%B3n-3d-signo-de.jpg?s=640x640&k=20&c=DOMNVwuM2QONVQg0qCv7TWZwLOajf6rKo_Ebzj9L1JI=);
    
  }
     
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #fff;
     }
     
  #guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 1px solid #ccc;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7d088a;
    color: #fff;
    border: 1px black ;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(0.95);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
      text-align: center;
      margin-top: 15px;

  }
     
  .input-area{
      margin: 30px;
  
  }
  